.App {
    text-align: center;
    display: flex;  
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 100px;
  }
  
  .row-style {
    background-color: #D7D3D3;  
    padding: 15px;
    border: solid white 5px;
  }